.center {
  margin: auto;
}

.maze {
  display: grid;
  border: solid 2px black;
  z-index: -1;
}

.input-side-length {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.gen-solve {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  column-gap: 10px;
}
