$algos-select-width: 0.5rem;

.center {
  margin: auto;
}

.maze {
  display: grid;
  border: solid 2px black;
  z-index: -1;
}

.input-side-length {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.algos {
  width: $algos-select-width;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.btns {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
